# 100 pandas puzzles


[100 Numpy exerises] (https://github.com/rougier/numpy-100) esinlenerek, burada [pandas] bilginizi sınamak için 100 * kısa bulmacalar (http://pandas.pydata.org/) güç.

Pandas, birçok farklı uzmanlık özelliği ve işlevi olan büyük bir kütüphane olduğu için, bu alıştırmalar esas olarak veriyi manipüle etme (indeksleme, gruplama, toplama, temizleme), temel DataFrame ve Seri nesnelerini kullanma temellerine odaklanır.

Buradaki pek çok örnek, çözümlerin birkaç satırdan daha fazlasını gerektirmemesi (pandasda veya NumPy'de ... saf Python veya Cython kullanmayın! Doğru yöntemleri seçmek ve en iyi uygulamaları takip etmek temel amaçtır.

Egzersizler bölümlere gevşek bir şekilde ayrılmıştır. Her bölümün bir zorluk derecesi vardır; Bu derecelendirmeler elbette subjektiftir, ancak gerekli olan çözümün ne kadar yaratıcı olduğu konusunda kaba bir kılavuz olarak görülmelidir.

Eğer pandasla yeni başlıyorsanız ve başka kaynaklar arıyorsanız, resmi belgeler çok kapsamlıdır. Özellikle, bazı iyi yerlerde pandasın daha geniş bir bakış açısı vardır ...

- [Pandalara 10 dakika] (http://pandas.pydata.org/pandas-docs/stable/10min.html)
- [pandalar temelleri] (http://pandas.pydata.org/pandas-docs/stable/basics.html)
- [eğiticiler] (http://pandas.pydata.org/pandas-docs/stable/tutorials.html)
- [yemek kitabı ve deyimler] (http://pandas.pydata.org/pandas-docs/stable/cookbook.html#cookbook)

Bulmacaların tadını çıkarın!

\ * * egzersizlerin listesi henüz tamamlanmadı! Ek alıştırmalar, düzeltmeler ve iyileştirmeler için istek veya önerileri çekin.


## Pandası içe aktarma

### Başlamak ve Pandas kurulumunuzu kontrol etme

Zorluk: * kolay *

** 1. ** Pandas'ı pd olarak adlandırın.

In [1]:
import pandas as pd

**2.** Pandas versiyonunu kontrol edelim.

In [2]:
pd.__version__

'1.2.4'

**3.** Pandas kütüphanesi tarafından gerekli olan kütüphanelerin tüm sürüm bilgilerini yazdırın.

In [3]:
pd.show_versions()

INSTALLED VERSIONS
------------------
commit           : 2cb96529396d93b46abab7bbc73a208e708c642e
python           : 3.7.3.final.0
python-bits      : 64
OS               : Windows
OS-release       : 10
Version          : 10.0.18362
machine          : AMD64
processor        : Intel64 Family 6 Model 158 Stepping 10, GenuineIntel
byteorder        : little
LC_ALL           : None
LANG             : None
LOCALE           : None.None

pandas           : 1.2.4
numpy            : 1.20.1
pytz             : 2019.1
dateutil         : 2.8.0
pip              : 21.1.1
setuptools       : 41.0.1
Cython           : 0.29.23
pytest           : 5.0.1
hypothesis       : None
sphinx           : 2.1.2
blosc            : None
feather          : None
xlsxwriter       : 1.1.8
lxml.etree       : 4.3.4
html5lib         : 1.0.1
pymysql          : None
psycopg2         : None
jinja2           : 2.11.3
IPython          : 7.6.1
pandas_datareader: None
bs4              : 4.7.1
bottleneck       : 1.2.1
fsspec           : None
fastparquet      : None
gcsfs            : None
matplotlib       : 3.3.4
numexpr          : 2.6.9
odfpy            : None
openpyxl         : 2.6.2
pandas_gbq       : None
pyarrow          : None
pyxlsb           : None
s3fs             : None
scipy            : 1.6.1
sqlalchemy       : 1.3.5
tables           : 3.5.2
tabulate         : None
xarray           : None
xlrd             : 1.2.0
xlwt             : 1.3.0
numba            : 0.44.1

# DataFrame temelleri

### DataFrames'te veri seçme, sıralama, toplama ve birleştirme için temel rutinler

Zorluk: * kolay *

Not: Numpy'ı içe aktarmayı unutmayın:
```python
import numpy as np
```
Aşağıdaki Python sözlük `data` ve Python listesi `labels` düşünün:

``` python
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
```
(Bu, hayvan temasıyla ve bir veterinere yapılan gezilerle yaptığım anlamsız verilerdir.)

**4.** Başlıkları (heads) `labels` olan `data` mızı `df` adıyla bir DataFrame'e aktaralım.

In [4]:
import numpy as np

In [5]:

data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [6]:
df = pd.DataFrame(data, index = labels)

**5.** Bu DataFrame ve verileriyle ilgili temel bilgilerin bir özetini görüntüleyin.

In [7]:
df.describe().T

        count    mean       std  min    25%  50%    75%  max
age       8.0  3.4375  2.007797  0.5  2.375  3.0  4.625  7.0
visits   10.0  1.9000  0.875595  1.0  1.000  2.0  2.750  3.0

**6.** DataFrame `df` nin ilk 3 satırını döndür.

In [8]:
df.head(3)

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no

**7.** DataFrame `df`den sadece `animal` ve `age` sütunlarını seçin.

In [9]:
df[["animal", "age"]]

  animal  age
a    cat  2.5
b    cat  3.0
c  snake  0.5
d    dog  NaN
e    dog  5.0
f    cat  2.0
g  snake  4.5
h    cat  NaN
i    dog  7.0
j    dog  3.0

**8.**  `[3, 4, 8]` inci satırlardaki *ve*  `['animal', 'age']` sütunlardaki verileri çekin.

In [10]:
df.loc[df.index[[3, 4, 8]], ['animal', 'age']]

  animal  age
d    dog  NaN
e    dog  5.0
i    dog  7.0

**9.** Yalnızca ziyaret sayısı 3'ten büyük olan satırları seçin.

In [11]:
df[df['visits']>3]

Empty DataFrame
Columns: [animal, age, visits, priority]
Index: []

**10.** Yaşın eksik olduğu satırları seçin, yani `NaN`.

In [12]:
df[df['age'].isnull()]

  animal  age  visits priority
d    dog  NaN       3      yes
h    cat  NaN       1      yes

**11.** Hayvanın bir kedi olduğu *and* bunların yaşının 3'ten az olduğu verileri çekin.

In [13]:
df[(df['animal'] == 'cat') & (df['age']<3)]

  animal  age  visits priority
a    cat  2.5       1      yes
f    cat  2.0       3       no

**12.** Yaşın 2 ve 4 (dahil) olduğu satırları seçin.

In [14]:
df[df.age.between(2,4)]

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
f    cat  2.0       3       no
j    dog  3.0       1       no

**13.** `f` satırındaki yaşı 1,5 olarak değiştirin.

In [15]:
df.loc['f','age'] = 1.5

**14.** Tüm ziyaretlerin toplamını hesaplayın (toplam ziyaret sayısı).

In [16]:
df.visits.sum()

19

**15.** `df`'deki her bir farklı hayvanın ortalama yaşını hesaplayın.

In [17]:
df.groupby('animal')['age'].mean()

animal
cat      2.333333
dog      5.000000
snake    2.500000
Name: age, dtype: float64

**16.** `df`'in her sütununa değerleri sizin tercihiniz olmak üzere 'k' satırı ekleyin. Sonra orijinal DataFrame'i döndürmek için bu satırı silin.

In [18]:
df.loc['k'] = ['cat', 4, 2, 'yes' ]
df = df.drop('k')
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  1.5       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

**17.** `df`'deki her bir hayvan türünü sayın.

In [19]:
df.animal.value_counts()

dog      4
cat      4
snake    2
Name: animal, dtype: int64

**18.** `df`'i ilk olarak 'age' sütununu *azalan* sırayla, ardından 'visit' sütununu in *artan* sırayla sıralayın.

In [20]:
df.sort_values(['age', 'visits'], ascending = [False, True])

  animal  age  visits priority
i    dog  7.0       2       no
e    dog  5.0       2       no
g  snake  4.5       1       no
j    dog  3.0       1       no
b    cat  3.0       3      yes
a    cat  2.5       1      yes
f    cat  1.5       3       no
c  snake  0.5       2       no
h    cat  NaN       1      yes
d    dog  NaN       3      yes

**19.** 'Priority' sütunu 'yes' ve 'no' değerlerini içerir. Bu sütunu, bir boolean değerleri sütunuyla değiştirin: 'yes', 'True' ve 'no', 'False' olmalıdır.

In [21]:
df.priority = df.priority.map({'yes': True, 'no': False})

**20.** 'Hayvan' sütununda 'snake' girişlerini 'python' olarak değiştirin.

In [22]:
df.animal = df.animal.replace('snake', 'python')

**21.** Her bir hayvan türü ve her bir ziyaret için, ortalama yaşı bulun. Diğer bir deyişle, her satır bir hayvandır, her sütun bir dizi ziyarettir ve değerler ortalama yaşlardır (ipucu: bir pivot tablo kullanın).

In [23]:
table = pd.pivot_table(df,index=['animal','visits'],aggfunc={'age':np.mean})
table

                age
animal visits
cat    1       2.50
       3       2.25
dog    1       3.00
       2       6.00
python 1       4.50
       2       0.50


## DataFrames: temellerin ötesinde

### Biraz daha zor: Doğru cevabı almak için iki veya daha fazla yöntemi birleştirmeniz gerekebilir

Zorluk: * orta *

Önceki bölüm bazı temel ama temel DataFrame işlemleri ile tur oldu. Aşağıda verilerinizi kesmeniz gerekebilecek bazı yollar vardır, ancak bunun için tek bir "kutudan çıkmış" yöntemi yoktur.

**22.**  Integer değerlere sahip 'A' kolonunu içeren DataFrame `df`'imiz var. Örnek olarak:
```python
df = pd.DataFrame({'A': [1, 2, 2, 3, 4, 5, 5, 5, 6, 7, 7]})

```
Hemen yukarıdaki satırla aynı tamsayıyı içeren satırları nasıl filtrelersiniz?

In [24]:
df = pd.DataFrame({'A': [1, 2, 2, 3, 4, 5, 5, 5, 6, 7, 7]})
df

    A
0   1
1   2
2   2
3   3
4   4
5   5
6   5
7   5
8   6
9   7
10  7

In [25]:
df.loc[df['A'].shift() != df['A']]

   A
0  1
1  2
3  3
4  4
5  5
8  6
9  7

**23.** Sayısal değerlerden oluşan bir DataFrame verildiğinde,
```python
df = pd.DataFrame(np.random.random(size=(5, 3))) # a 5x3 frame of float values
```

Satırdaki her öğeden satır ortalamasını nasıl çıkarırsınız?

In [26]:
df = pd.DataFrame(np.random.random(size=(5, 3)))
df.sub(df.mean(axis=1), axis=0)

#https://machinelearningknowledge.ai/pandas-mathematical-functions-add-sub-mul-div-sum-and-agg/

          0         1         2
0 -0.304455 -0.254535  0.558990
1  0.126690 -0.115859 -0.010831
2  0.007631 -0.046653  0.039022
3 -0.158135  0.085333  0.072802
4 -0.237110  0.464736 -0.227626

**24.** Örneğin, reel sayıda 10 sütun içeren DataFrame'iniz olduğunu varsayalım:


```python
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
```
Hangi sayı sütunu en küçük toplamı içerir? (Bu sütunun etiketini bulun.)

In [27]:
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
df.sum(axis=0).idxmin()

'c'

**25.** Bir DataFrame'in kaç tane benzersiz(unique) satırı olduğunu (yani, yinelenen tüm satırları yoksay) nasıl sayarsınız?

In [28]:
df.drop_dublicates(keep = False)

# keep{‘first’, ‘last’, False}, default ‘first’
# Determines which duplicates (if any) to keep. 
# - first : Drop duplicates except for the first occurrence. 
# - last : Drop duplicates except for the last occurrence. 
# - False : Drop all duplicates.

AttributeError: 'DataFrame' object has no attribute 'drop_dublicates'

Sonraki üç bulmaca biraz daha zor ...

**26.** Ondalıklı sayıların 10 sütunundan oluşan bir DataFrame'iniz var. Her satırda tam olarak 5 girişin NaN değerleri olduğunu varsayalım. DataFrame'in her satırı için *üçüncü* NaN değerini içeren  *sütunu* bulun.

(Kolon etiketlerinin Serisini print etmelisiniz.)

In [ ]:
(df.isnull().cumsum(axis=1) == 3).idxmax(axis=1)

**27.** Bir DataFrame, bir grup 'grps' sütununa ve 'vals' sayı sütununa sahiptir. Örneğin: 

```python
df = pd.DataFrame({'grps': list('aaabbcaabcccbbc'), 
                   'vals': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})
```
Her * grup* için, en büyük üç değerin toplamını bulun.

In [ ]:
df = pd.DataFrame({'grps': list('aaabbcaabcccbbc'), 
                   'vals': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})
df.groupby('grps')['vals'].nlargest(3).sum(level=0)

**28.** Bir DataFrame iki tamsayı sütununa 'A' ve 'B' sahiptir. 'A' daki değerler 1 ile 100 (dahil) arasındadır. 'A' (yani, (0, 10) `,` (10, 20] `, ...) 'de birbirini izleyen 10 tam sayıdaki her bir grup için,' B 'sütununda karşılık gelen değerlerin toplamını hesaplayın.

In [ ]:
df.groupby(pd.cut(df['A'], np.arange(0, 101, 10)))['B'].sum()

## DataFrames: daha zor problemler

### Bunlar kutunun dışında biraz düşünmeyi gerektirebilir ...

... ama hepsi sadece normal pandas / NumPy yöntemlerini kullanarak çözülebilirler (ve dolayısı ile 'for` döngülerinin kullanılmasını önlerler).

Zorluk: * zor *

**29.** 'X'  tamsayı sütununa sahip olan bir DataFrame `df 'düşünün:

```python
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
```
Her bir değer için, farkı bir önceki sıfıra (veya Serisinin başlangıcına, hangisi daha yakınsa) geri sayar. Bu yüzden bu değerler `[1, 2, 0, 1, 2, 3, 4, 0, 1, 2]` olmalıdır. Bunu yeni bir "Y" sütunu yapın.

In [ ]:
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

İşte bir alternatif bir yaklaşım [cookbook recipe](http://pandas.pydata.org/pandas-docs/stable/cookbook.html#grouping):

**30.** Sadece sayısal verilerin satır ve sütunlarını içeren bir DataFrame düşünün. En büyük 3 değerin satır-kolon dizin konumlarının bir listesini oluşturun.

**31.** Grup Kimlikleri, 'grps' sütununa ve karşılık gelen tamsayı değerleri sütununa sahip bir DataFrame verildiğinde, 'vals', 'vals' içindeki herhangi bir negatif değeri grup ortalamasıyla değiştirin.

**32.** Implement a rolling mean over groups with window size 3, which ignores NaN value. For example consider the following DataFrame:

```python
>>> df = pd.DataFrame({'group': list('aabbabbbabab'),
                       'value': [1, 2, 3, np.nan, 2, 3, 
                                 np.nan, 1, 7, 3, np.nan, 8]})
>>> df
   group  value
0      a    1.0
1      a    2.0
2      b    3.0
3      b    NaN
4      a    2.0
5      b    3.0
6      b    NaN
7      b    1.0
8      a    7.0
9      b    3.0
10     a    NaN
11     b    8.0
```
The goal is to compute the Series:

```
0     1.000000
1     1.500000
2     3.000000
3     3.000000
4     1.666667
5     3.000000
6     3.000000
7     2.000000
8     3.666667
9     2.000000
10    4.500000
11    4.000000
```
E.g. the first window of size three for group 'b' has values 3.0, NaN and 3.0 and occurs at row index 5. Instead of being NaN the value in the new column at this row index should be 3.0 (just the two non-NaN values are used to compute the mean (3+3)/2)

## Series ve DatetimeIndex

# # # Verileri datetime verileriyle oluşturma ve işleme için alıştırmalar

Zorluk: * kolay / orta *

pandas tarihler ve saatler ile çalışmak için harika. Bu bulmacalar bu işlevin bazılarını araştırıyor.

**33.** 2015'in her iş gününü içeren bir DatetimeIndex oluşturun ve bir rasgele sayı dizisini dizine eklemek için kullanın. Bu diziyi `s` olarak adlandıralım.

**34.** Her Çarşamba için `s` cinsinden değerlerin toplamını bulun.

**35.** Her takvim ayı için `s`de, değerlerin ortalamasını bulun.

**36.** `s`'de dört ardışık takvim ayının her grubu için, en yüksek değerin gerçekleştiği tarihi bulun.

**37.** 2015 ve 2016 yılları için her ayın üçüncü Perşembesinden oluşan bir DateTimeIndex oluşturun.

## Temizlik Verileri

### DataFrame'i çalışmak daha kolay

Zorluk: * kolay / orta *

Her zaman olur: birisi size hatalı biçimlendirilmiş dizeleri, Python, listeleri ve eksik verileri içeren veri verir. Analize katılabilmeniz için nasıl toparlıyorsunuz?

Aşağıdaki bulmacalarda kullanmak için DataFrame olarak bu canavarlığı atın:

```python
df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN', 'londON_StockhOlm', 
                               'Budapest_PaRis', 'Brussels_londOn'],
              'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
              'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
                   'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )', 
                               '12. Air France', '"Swiss Air"']})
```
(Yaptığım bazı uçuş verileri, hiçbir şekilde doğru olması gerekmiyor.)

**38.** FlightNumber sütunundaki bazı değerler eksik. Bu sayılar her satırda 10 ile artacak, böylece 10055 ve 10075'in yerine konması gerekiyor. Bu eksik sayıları doldurun ve sütunu bir tam sayı sütunu (bir kayan sütun yerine) yapın.

**39.** From_To sütunu iki ayrı sütun olarak daha iyi olurdu! Doğru değerleri olan yeni bir geçici DataFrame vermek için her dizeyi alt çizgi sınırlayıcısı _ üzerinde bölün. Bu geçici DataFrame'e doğru sütun adlarını atayın.

**40.** Bu geçici DataFrame'de şehir isimlerinin ilk harflerinin büyük küçüklüğünün nasıl karıştığına dikkat edin. Dizeleri, yalnızca ilk harfin büyük harf olacak şekilde standartlaştırılması (ör. "LondON", "London" haline gelmelidir.)

**41.** From_To sütununu `df'den silin ve geçici DataFrame'i önceki sorulardan ekleyin.

**42**. Havayolu sütununda, bazı ekstra noktalama işaretleri görebilirsiniz ve hava yolu adlarının çevresinde semboller belirmiştir. Sadece havayolu ismini dışarı çekin. Örneğin. `` (British Airways.) '`` `British Airways' 'olmalıdır.

**43**. RecentDelays sütununda, değerler DataFrame'e bir liste olarak girilmiştir. Her bir ilk değeri kendi sütununda, her bir ikinci değeri kendi sütununda, vb. İstiyoruz. Bir Nth değeri yoksa, değer NaN olmalıdır.

Listeler dizisini `delays` adlı bir DataFrame içine genişletin, `delay_1`, `delay_2` vb. Sütunlarını yeniden adlandırın ve `df`de istenmeyen RecentDelays  sütununu `delays` sütunuyla değiştirin.

DataFrame şimdi daha iyi görünmeli.

## MultiIndexes'i Kullanma

### Ek dizin seviyelerine sahip düz DataFrames ötesine geçin

Zorluk: * orta *

Önceki alıştırmalar, tek bir endeks seviyesi ile donatılmış DataFrames'ten verileri analiz etmemizi gördü. Ancak, pandalar ayrıca * çoklu * seviyeleri kullanarak verilerinizi dizine ekleme olasılığınızı da verir. Bu, bir Diziye veya DataFrame'e yeni boyutlar eklemek gibidir. Örneğin, bir Seri 1D'dir, ancak 2 seviyeli bir MultiIndex kullanarak, bir 2D DataFrame ile aynı işlevsellik kazanırız.

Aşağıdaki bulmacalar, veri analizini geliştirmek için çoklu dizin seviyelerini nasıl kullanabileceğinizi araştırıyor.

Isınmak için, iki indeksli bir dizi yapalım.

**44**. Verilen `letters = ['A', 'B', 'C']` ve `numbers = list(range(10))` listelerinden, iki listenin ürününden bir MultiIndex nesnesi oluşturun. Bir rastgele sayı dizisini indekslemek için kullanın. Buna `s` deyin.

**45.** `s`'in elemanlarının sözlük sırasında sıkontrol edin, sözlüksel olarak sıralanır (bu, bir MultiIndex ile doğru şekilde çalışmak için indeksleme için gerekli bir özelliktir).

**46**. Select the labels `1`, `3` and `6` from the second level of the MultiIndexed Series.

**47**. Slice the Series `s`; slice up to label 'B' for the first level and from label 5 onwards for the second level.

**48**. Sum the values in `s` for each label in the first level (you should have Series giving you a total for labels A, B and C).

**49**. Suppose that `sum()` (and other methods) did not accept a `level` keyword argument. How else could you perform the equivalent of `s.sum(level=1)`?

**50**. Exchange the levels of the MultiIndex so we have an index of the form (letters, numbers). Is this new Series properly lexsorted? If not, sort it.

## Mayın Tarlası

### Mayın Tarlası ızgarasında güvenli kareler için sayı üret

Zorluk: *orta* ila *zor*

Eğer  eski bir Windows sürümü kullandıysanız, [Minesweeper] (https://en.wikipedia.org/wiki/Minesweeper_(video_game) oynama şansınız çok yüksek. Oyuna aşina değilseniz, karelerden bir ızgara hayal edin: bu karelerin bazıları bir mayını gizler.Eğer bir mayına tıklarsanız, anında kaybedersiniz.Eğer güvenli bir kareyi tıklarsanız, size meydanlarda kaç mayın bulunduğunu söyleyen bir sayı ortaya çıkar. Oyunun amacı, bir mayın içermeyen ızgaradaki tüm kareleri ortaya çıkarmaktır.

Bu bölümde, Mayın Tarlası oyunu için gerekli verileri içeren bir DataFrame yapacağız: karelerin koordinatları, karenin kaç mayın içerdiği ve bitişik meydanlarda bulunan mayın sayısı.

**51**. Mayın Tarlasını 5'e 4'lük bir alanda oynadığımızı varsayalım, mesela,
```
X = 5
Y = 4
```
2 sütun içeren DataFrame `df` üreteceğiz, `'x'` ve `'y'` her koordinatı içerecek. Bunun için, verisetimiz şöyle başlamalı:
```
   x  y
0  0  0
1  0  1
2  0  2
```

**52**. Bu DataFrame `df` için sıfır (güvenli) ve bir (mayın) sütunu oluşturun. Mayın olma olasılığı 0.4 olmalıdır.

**53**. Şimdi bu DataFrame için `'adjacent'` adı verilen yeni bir sütun oluşturun. Bu sütun, ızgaradaki bitişik karelerde bulunan maden sayısını içermelidir.
(Mesela ilk satır için, yani koordinatı `(0, 0)` olan konum için, bu karelerde kaç mayın olduğunu sayın `(0, 1)`, `(1, 0)` and `(1, 1)`.)

**54**. DataFrame'de mayın içeren satırlar için, `'adjacent'` sütunundaki karşılık gelen değerini NaN yapın.

**55**. Son olarak, DataFrame'i bitişik maden sayımlarının ızgarasına dönüştürün: sütunlar `x`'in koordinatıdır, satırlar `y` koordinatıdır.

## Plotting

### Visualize trends and patterns in data

Difficulty: *medium*

To really get a good understanding of the data contained in your DataFrame, it is often essential to create plots: if you're lucky, trends and anomalies will jump right out at you. This functionality is baked into pandas and the puzzles below explore some of what's possible with the library.

**56.** Pandas is highly integrated with the plotting library matplotlib, and makes plotting DataFrames very user-friendly! Plotting in a notebook environment usually makes use of the following boilerplate:

```python
import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('ggplot')
```

matplotlib is the plotting library which pandas' plotting functionality is built upon, and it is usually aliased to ```plt```.

```%matplotlib inline``` tells the notebook to show plots inline, instead of creating them in a separate window.  

```plt.style.use('ggplot')``` is a style theme that most people find agreeable, based upon the styling of R's ggplot package.

For starters, make a scatter plot of this random data, but use black X's instead of the default markers. 

```df = pd.DataFrame({"xs":[1,5,2,8,1], "ys":[4,2,1,9,6]})```

Consult the [documentation](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.plot.html) if you get stuck!

**57.** Columns in your DataFrame can also be used to modify colors and sizes.  Bill has been keeping track of his performance at work over time, as well as how good he was feeling that day, and whether he had a cup of coffee in the morning.  Make a plot which incorporates all four features of this DataFrame.

(Hint:  If you're having trouble seeing the plot, try multiplying the Series which you choose to represent size by 10 or more)

*The chart doesn't have to be pretty: this isn't a course in data viz!*

```
df = pd.DataFrame({"productivity":[5,2,3,1,4,5,6,7,8,3,4,8,9],
                   "hours_in"    :[1,9,6,5,3,9,2,9,1,7,4,2,2],
                   "happiness"   :[2,1,3,2,3,1,2,3,1,2,2,1,3],
                   "caffienated" :[0,0,1,1,0,0,0,0,1,1,0,1,0]})
```

**58.**  What if we want to plot multiple things?  Pandas allows you to pass in a matplotlib *Axis* object for plots, and plots will also return an Axis object.

Make a bar plot of monthly revenue with a line plot of monthly advertising spending (numbers in millions)

```
df = pd.DataFrame({"revenue":[57,68,63,71,72,90,80,62,59,51,47,52],
                   "advertising":[2.1,1.9,2.7,3.0,3.6,3.2,2.7,2.4,1.8,1.6,1.3,1.9],
                   "month":range(12)
                  })
```

Şimdi hisse senedi fiyat verilerini analiz etmek için kullanılan çok yaygın bir araç olan şamdan grafiğini oluşturmaya hazırız. Bir şamdan grafiği, bir zaman aralığı boyunca bir stok için açılış, kapanış, en yüksek ve en düşük fiyatı gösterir. "Şamdan" ın rengi (çubuğun kalın kısmı), eğer hisse senedi açılış fiyatının üzerinde kapatılmışsa, ya da altındaysa kırmızıdır.

![Candlestick Example](img/candle.jpg)

This was initially designed to be a pandas plotting challenge, but it just so happens that this type of plot is just not feasible using pandas' methods.  If you are unfamiliar with matplotlib, we have provided a function that will plot the chart for you so long as you can use pandas to get the data into the correct format.

Your first step should be to get the data in the correct format using pandas' time-series grouping function.  We would like each candle to represent an hour's worth of data.  You can write your own aggregation function which returns the open/high/low/close, but pandas has a built-in which also does this.

The below cell contains helper functions.  Call ```day_stock_data()``` to generate a DataFrame containing the prices a hypothetical stock sold for, and the time the sale occurred.  Call ```plot_candlestick(df)``` on your properly aggregated and formatted stock data to print the candlestick chart.

In [ ]:
import numpy as np
def float_to_time(x):
    return str(int(x)) + ":" + str(int(x%1 * 60)).zfill(2) + ":" + str(int(x*60 % 1 * 60)).zfill(2)

def day_stock_data():
    #NYSE is open from 9:30 to 4:00
    time = 9.5
    price = 100
    results = [(float_to_time(time), price)]
    while time < 16:
        elapsed = np.random.exponential(.001)
        time += elapsed
        if time > 16:
            break
        price_diff = np.random.uniform(.999, 1.001)
        price *= price_diff
        results.append((float_to_time(time), price))
    
    
    df = pd.DataFrame(results, columns = ['time','price'])
    df.time = pd.to_datetime(df.time)
    return df

#Don't read me unless you get stuck!
def plot_candlestick(agg):
    """
    agg is a DataFrame which has a DatetimeIndex and five columns: ["open","high","low","close","color"]
    """
    fig, ax = plt.subplots()
    for time in agg.index:
        ax.plot([time.hour] * 2, agg.loc[time, ["high","low"]].values, color = "black")
        ax.plot([time.hour] * 2, agg.loc[time, ["open","close"]].values, color = agg.loc[time, "color"], linewidth = 10)

    ax.set_xlim((8,16))
    ax.set_ylabel("Price")
    ax.set_xlabel("Hour")
    ax.set_title("OHLC of Stock Value During Trading Day")
    plt.show()

**59.** Bir güne ait rastgele stok verisi oluşturun ve açılış, en yüksek, en düşük ve kapanış fiyatlarının saatlik özetlerini alması için toplayın / yeniden biçimlendirin.

**60.** Artık düzgün biçimlendirilmiş verilerinize sahip olduğunuza göre, onu bir şamdan grafiği olarak çizmeye çalışın.
 ```plot_candlestick(df)``` fonksiyonunu kullanın, veyahut matplotlib'deki [```plot``` documentation](https://matplotlib.org/api/_as_gen/matplotlib.axes.Axes.plot.html) dokumentasyona bakın.


* Yakında daha fazla egzersiz gelecek ... *